@import "vars.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 950px;
    margin: auto;
}

a {
    text-decoration: none;
    color: $textColorMain;
}

a.button {
    background-color: $textColorThird;
    color: $textColorFourth;

    display: inline-block;

    border: none;
    padding: 0.7em 1.6em;
    border-radius: 2px;
    line-height: 20px;
}

body {
    font-family: "Poppins", sans-serif;
    p {
        color: $textColorSecond;
    font-size: 12px;
    line-height: 20px;
    }

    h1 {
        font-family: $fontMain;
        color: $textColorMain;
        font-size: 35px;
        line-height: 60px;
    }

    h2 {
      font-family: $fontMain;
      color: $textColorMain;
    }


}

i {
    color: $iconColorMain;
}