@import "vars.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $textColorMain;
}

button {
    background-color: $textColorThird;
    color: $textColorFourth;

    border: none;
    padding: 1em 1.5em;
    border-radius: 2px;
    cursor: pointer;
  }