// ---- BACKGROUND ----
//Main
$backgroundColorMain: #FFFFFF;

//Sections 
$backgroundColorSecond: #f2f7ff;

//Buttons
$backgroundColorThird: #377DFF;

//Buttons hover
$backgroundColorFourth: #1E1E1E;

//BackToTheTop
$backgroundColorFifth: #00000026;



// ---- TEXT ----
//Titles and Header
$textColorMain: #1E1E1E;

//Paragraphs
$textColorSecond: #8E989F;

//Links, active header nav
$textColorThird: #377dff;

//Features
$textColorFourth: #FFFFFF;



// ---- ICONS ----
$iconColorMain: #1E1E1E;
$iconColorSecond: #377DFF;
$iconsColorThird: #ff796d;
$iconsColorFourth: #6cdac1;



// ---- BORDERS ----
//Header
$borderColorMain: #377dff;

//Cards
$borderColorSecond: #00000008;

//Posts, Contacts form
$borderColorThird: #EFF1FE;

//Socials in Contacts
$borderColorFourth: #0000000D;

//Footer border top
$borderColorFifth: #00000014;